<div>
<header class = "main-header">
    <p class = "band-name">BlogW</p>
     
<nav class = "nav main-nav" >
    
    <ul>
        <li><a href = "/blogs">Blogs</a></li>
        <li><a href = "/about">About</a></li>
        <li><a href = "/blogs/create">New Blog</a></li>
        <li><a href = "/users/logout">Logout</a></li>
    </ul>
</nav>
</header>
</div>