<html lang = "en">
    <%- include('./partials/head.ejs') %>
    <body>
        <div class="page-container">
        <%- include('./partials/nav.ejs') %>

        <div class = "about content">
            <h2>About us</h2>
            <p>Blogging Website</p> 
            
        </div>
        <div class="footer-1">
            <footer class="footer">
                <p>Copyright &copy; BlogStar 2021</p>
            </footer>
            </div>
            
        </div>
    </body>
</html>